.firstContainerCosts {
  display: flex;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("greenenergy.png");
  background-size: 1450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleCosts {
  font-size: 4rem;
  width: 40vw;
  font-family: "Oswald", "sans-serif";
  text-transform: uppercase;
  color: white;
}

.description {
  font-size: 1.25rem;
  font-family: "Lexend", "sans-serif";
  color: #aeaeae;
  width: 45vw;
}

.rightContainer > svg {
  width: 35vw;
}

.secondContainer {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #e5f9f6;
}

.secondTitle {
  font-size: 3rem;
  width: 40vw;
  margin-bottom: 5vh;
  text-transform: uppercase;
  color: #333;
  font-family: "Oswald", "sans-serif";
}

.secondDescription {
  font-size: 1.25rem;
  font-family: "Lexend", "sans-serif";
  color: #aeaeae;
  width: 45vw;
}

.thirdContainercosts {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding-bottom: 2rem;
  padding-left: 6rem;
}

.thirdTitlecosts {
  padding-top: 2rem;
  font-size: 3rem;
  width: 40vw;
  font-family: "Oswald", "sans-serif";
  color: #333;

  text-transform: uppercase;
  padding-left: 3rem;
}

.thirdDescriptioncosts {
  align-items: left;
  font-size: 1.25rem;
  font-family: "Lexend", "sans-serif";
  color: #aeaeae;
  width: 62vw;
}

.wrap {
  float: right;
  margin: 5px;
  text-wrap: wrap;
}

.costsImgContainer {
  display: flex;
  flex-direction: column;
}

.credit {
  color: #aeaeae;
  font-family: "Lexend", "sans-serif";
}

.credit > a {
  color: #aeaeae;
  font-family: "Lexend", "sans-serif";
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .thirdTitlecosts {
    text-align: center;
    align-self: center;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .thirdContainercosts {
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .costImgContainer > img {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .wrap {
    float: none;
    margin: 0;
    text-wrap: none;
    margin-right: auto;
    margin-left: auto;
  }
}
