.backgroundContainer {
  display: flex;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("../assets/solarpanel.jpg");
  background-size: 1450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainContainer {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #e5f9f6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titleWorksCited {
  font-size: 4rem;
  width: 40vw;
  font-family: "Oswald", "sans-serif";
  color: black;
  padding-left: 3rem;
  text-transform: uppercase;
}

.headingWorksCited {
  font-size: 3rem;
  width: 40vw;
  margin-bottom: 1rem;
  margin-top: 5vh;
  font-family: "Oswald", "sans-serif";
  text-transform: uppercase;
  color: black;
}

.workscitedDescription {
  font-size: 1.25rem;
  font-family: "Open Sans", "sans-serif";
  color: #000000;
  width: 45vw;
}

.mainContainer table {
  border-collapse: collapse; /* Collapse borders between cells */
  border: 1px solid black;
}

.mainContainer table td {
  border: 1px solid black;
  padding: 5px;
}

th {
  font-family: "Open Sans", "sans-serif";
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
  .headingWorksCited {
    font-size: 2rem !important;
    text-align: center;
    width: 80vw;
  }
  th {
    font-size: 1.5rem;
  }
  td {
    font-size: 1rem !important;
  }
}
